.field_left {
        float:left;
      }
      .field_right {
        float:left;
        margin-left:10px;
      }
      .clear {
        clear:both;
      }
      #field_group {
        width:100%;
      }
      #field_group input[type=text] {
        width:300px;
      }
      #field_group .field_row {
        border:1px solid #999;
        margin-bottom:10px;
        padding:10px;
      }
      #field_group label {
        padding:0 6px;
      }